@import url('./global.css');
@import url('./header.css');
@import url('./login.css');
@import url('./dashboard.css');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 36px 40px 48px;
}

@media (max-width: 768px) {
  main { padding: 24px 20px 40px; }
}

@media (min-width: 1200px) {
  main { padding: 40px 10% 60px; }
}
